# Steam Web API key
# Get one from Steam's Web API registration page. https://steamcommunity.com/dev/apikey
STEAM_API_KEY=your_steam_api_key_here

# Discord bot token
DISCORD_TOKEN=your_discord_bot_token_here

# Discord Forum channel ID where Workshop items will be posted Bot only needs to be able to post here.
DISCORD_FORUM_CHANNEL_ID=your_forum_channel_id_here
